<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <header>
    <!-- navigation -->
    <nav class="navbar">
      <div class="btn-container-left">
        <a href="/">回到首頁</a>
      </div>

      <div class="btn-container-right">
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/content">Content</a>
      </div>
    </nav>
  </header>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/main.js"></script>
</body>
</html>